<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Message</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>New Message Form</h1>
    <form action="/messages" method="post" autocomplete="off">
      <input
        type="text"
        name="content"
        placeholder="Enter Message Content..." />
      <button type="submit">Add Message</button>
    </form>
  </body>
</html>
