<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Page</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Registration Form</h1>
    <form action="/auth/register" method="post" autocomplete="off">
      <input type="text" name="username" placeholder="Enter Your Username..." />
      <input type="text" name="email" placeholder="Enter Email..." />
      <input type="text" name="password" placeholder="Enter Password..." />
      <button type="submit">Register</button>
    </form>
    <p>Already Registered yet? <a href="/login">Login Now</a></p>
  </body>
</html>
